<div class="container mt-5">
  <div class="row">
    <div class="col-9 mx-auto mt-5">
       <!--タブ部分-->
      <ul class="tab-list list-unstyled d-flex" style="margin-left: 70px;">
        <li class="tab tab-active text-center">
          New Posts
        </li>
        <li class="tab text-center">
          Following Posts
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <!--タブで選択された要素部分-->
      <div class="tabbox-contents">
        <div class="tabbox box-show">
          <%= render "post", posts: @posts %>
        </div>
        <div class="tabbox">
          <%= render "post", posts: @following_posts %>
        </div>
      </div>
    </div>
  </div>
</div>
