<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
       <!--タブ部分-->
      <ul class="tab-list list-unstyled d-flex justify-content-center">
        <li class="tab tab-active text-center">
          New Posts
        </li>
        <li class="tab text-center">
          Following Posts
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <!--タブで選択された要素部分-->
      <div class="tabbox-contents">
        <div class="tabbox box-show">
          <%= render "post", posts: @posts %>
          <div class="d-flex justify-content-center mt-5"><%= paginate @posts, :param_name => 'posts_page' %></div>
        </div>
        <div class="tabbox">
          <div id="following_posts">
            <%= render "post", posts: @following_posts %>
            <div class="d-flex justify-content-center mt-5"><%= paginate @following_posts, :param_name => 'following_page' %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
