<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="text-center">
       
        投稿</h1>
      <div class="flex mt-5">
        <%= render "public/users/post", posts: @posts %>
      </div>
    </div>
  </div>
</div>

