<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h1 class="text-center mb-5"><strong>フォロー中</strong></h1>
      <% if @users.exists? %>
        <table class="table table-borderless">
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image, size: '80x80', class: "rounded-circle" %></td>
              <td><%= link_to user.name, user_path(user), class: "text-decoration-none text-dark" %></td>
              <td><%= render 'public/relationships/btn', user: user %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>
