<div class="top-image">
  <div class="top-sidebar">
  <div class="top-name">Foodium</div>
  <div class="top-link">
    <div class="text-center text-dark">アカウントをお持ちの方<%= link_to "こちら", new_user_session_path, class: "text-success text-decoration-none" %></div>
    <div class="text-center text-dark">アカウントをお持ちでない方<%= link_to "こちら", new_user_registration_path, class: "text-success text-decoration-none" %></div>
  </div>
</div>
</div>
