@use '~bootstrap/scss/bootstrap';

// ページネーションのデザイン
.pagination>li>a {
  border: none;
  color: #000;
  border-radius: 50%;
  background: #e6e6fa;
}

.page-item.active .page-link {
   background-color: #000;
}
