/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*===投稿画像のスワイパー設定==*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  object-fit: cover;
}

.swiper-slide img {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

// swiperナビゲーションボタン
:root {
  --swiper-navigation-color: #2f4f4f;
  --swiper-pagination-color: #2f4f4f;
}

.swiper-button-next::after, .swiper-button-prev::after {
 content: none !important;
}

/*エラーメッセージでフォームが崩れないように設定*/
.field_with_errors {
  display: contents;
}

header {
  width: 100%;
  background-color: #006400;
  position: fixed;
  top: 0;
  z-index: 10;
}

body {
// 半角英数折返しの設定
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
}

.full-page {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.container {
  margin-top: 150px;
  padding-bottom: 5%;
}

/* ===新規登録・ログイン画面の設定===*/
.form-background {
  background-color: rgba(255, 255, 255, 0.5);
}

// ユーザーログイン画面
.session-image {
  width: 100vw;
  height: 100vh;
  padding-top: 5%;
  background-image: image-url("morning.jpg");
  background-size: cover;
  background-position: center;
}

// ユーザー新規登録画面
.registration-image {
  width: 100vw;
  height: 100vh;
  padding-top: 3%;
  background-image: image-url("pudding.jpg");
  background-size: cover;
  background-position: center;
}

// 管理者ログイン画面
.admin-image {
  width: 100vw;
  height: 100vh;
  padding-top: 7%;
  background-image: image-url("pasta.jpg");
  background-size: cover;
  background-position: center;
}

.site-name {
  font-size: 50px;
  font-family: cursive;
}

/*投稿を横並びに設定*/
.flex {
  display: flex;
  flex-flow: wrap;
}

.nav-link:hover{
  opacity: 0.6;
  background-color: #fff;
  border-color: #444;
  color: #444;
  border-radius: 10px;
}

/*==== 検索窓の設定 ====*/

/*検索窓背景のエリア*/
#search-wrap{
  position:fixed;
  top: 115px;
  right: 0;
  z-index: -1;/*最背面に設定*/
  opacity: 0;
  transition: all 0.5s;/*transitionを使ってスムースに現れる*/
  width: 100%;
  height: 100vh;
}

/*ボタンクリック後、JSで#search-wrapに panelactive クラスが付与された後の見た目*/
#search-wrap.panelactive{
  opacity: 0.9;/*不透明に変更*/
  z-index: 11;/*全面に出現*/
  background: gray;
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

/*検索窓のエリア*/
#search-wrap .search-area{
  display: none;/*検索窓のエリアは、はじめ非表示*/
}

/*ボタンクリック後、JSで#search-wrapに panelactive クラスが付与された後*/
#search-wrap.panelactive .search-area{
  display: block;/*検索窓エリアを表示*/
  position: relative;
}

// 検索フォームの設定
#search-wrap form{
  margin-top: 30px;
  width: 400px;
}

/*===検索フォームを閉じるための×ボタン===*/
.close-btn{
  position: absolute;
  top:10px;
  right:10px;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.close-btn span{
    display: inline-block;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background-color: #fff;
 }

.close-btn span:nth-of-type(1) {
    top: 21px;
    left: 16px;
    transform: translateY(6px) rotate(-135deg);
    width: 50%;
}

.close-btn span:nth-of-type(2){
    top: 32px;
    left: 16px;
    transform: translateY(-6px) rotate(135deg);
    width: 50%;
}

/*==トップ画面のサイドバー==*/
.top-sidebar {
  width: 40vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

.top-name {
  font-size: 100px;
  text-align: center;
  padding-top: calc(40vh - 1em);
  font-family: cursive;
}

.top-link {
  margin-top: 25vh;
}

/*==投稿一覧画面とユーザー詳細画面のタブ設定==*/
.tab {
  width: 45%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}

.tab:first-child {
  border-left: none;
}

// タブがactiveのときのデザイン
.tab-active {
  color: #FFF;
  background: #2f4f4f;
  transition: all 0.2s ease-in-out;
}

// タブの中身、最初は非表示
.tabbox {
  display: none;
  padding: 15px;
}
// box-showクラスのものだけ表示
.box-show {
  display: block;
}
// hover時のアクション
.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

/*==ユーザー編集画面の「・・・」の設定==*/
.menu {
  
  display: flex;
  list-style-type: none;
  color: #fff;
  padding: 0;
}

.menu li {
  position: relative;
  width:100px;
  padding-bottom: 2px;
  list-style-type: none;
}

.menuSub {
  position: absolute;
  margin-left: -6px;
  padding: 0;
  display: none;
}

.menuSub li a {
  display: block;
  text-decoration: none;
}

.menuSub li a:hover {
  background: #ffa500;
}

@media screen and (max-width:1200px) {
  .flex {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width:600px) {
  // 投稿が中央になるように設定
  .flex {
    display: flex;
    justify-content: center;
  }
  // 投稿一覧ページのコメントフォームを非表示
  .comment-form {
    display: none;
  }
  // xボタンを非表示
  .back-btn {
    display: none;
  }
  .form-background {
    margin-top : 30%;
  }
  .registration-image {
    background-image: image-url("ice.jpg");
    background-size: cover;
  }
  // タグ検索結果画面のタイトルの調整
  .search-title {
    font-size: 20px;
  }
  // トップページのデザイン
  .swiper-top {
    width: 100vw;
    height: 100vh;
    background-image: image-url("green_cake.jpg");
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
  }

  /*==トップページのサイドバーの設定==*/
  .top-sidebar {
    width: 1000vw;
    height: 100vh;
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10;
  }
  .top-name {
    font-size: 90px;
    position: fixed;
    top: 50px;
    left: 20px;
    right: 20px;
    font-family: cursive;
  }
  .top-link {
    position: fixed;
    bottom: 100px;
    left: 20px;
    right: 20px;
  }
 #search-wrap form {
  margin-top: 30px;
  width: 330px;
}
.show-profile-image {
  width: 50px;
  height: 50px;
}
.user-show-profile-image {
  width: 80px;
  height: 80px;
}
}