<!--フォロー通知-->
<div>
  <%= image_tag notification.subject.following.get_profile_image, class: "rounded-circle", size: "50x50" %>
  <strong><%= link_to notification.subject.following.name, user_path(notification.subject.following), class: "text-dark text-decoration-none" %></strong>
  があなたをフォローしました
  <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
  <%= link_to "削除",notification_path(notification), method: :delete,class:"btn btn-light" %>
</div>
