<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="text-center title mb-5">非公開中の投稿</h1>
      <!--投稿partial-->
      <div class="flex justify-content-center"><%= render "post", posts: @posts %></div>
      <!--ページネーション-->
      <div class="d-flex justify-content-center mt-5"><%= paginate @posts %></div>
    </div>
  </div>
</div>