<% if obj.errors.any? %>
  <div id="error_explanation">
    <ul style="list-style: none;">
      <% obj.errors.full_messages.each do |message| %>
        <li class="alert alert-danger"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
